<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Meu Projeto</title>
    </head>
    <body class="bg-custom-neutral-5 text-custom-text" x-data>
        <header
            class="z-10 w-full px-64 py-4 fixed uppercase flex items-end justify-between"
            x-init="fetch('/header.html').then(res => res.text()).then(html => $el.innerHTML = html)">
        </header>

        <div
            id="content"
            class="z-10 w-full px-64 flex flex-col items-center justify-center"
            x-init="fetch('/content.html').then(res => res.text()).then(html => $el.innerHTML = html)">
        </div>

        <footer
            class="z-10 w-full px-64 py-4 flex items-end justify-between"
            x-init="fetch('/footer.html').then(res => res.text()).then(html => $el.innerHTML = html)">
        </footer>
    </body>
</html>